@use "../../styles/variables" as *;

.hero {
  min-height: 100vh;

  padding-top: 0px;

  display: flex;

  flex-direction: row;

  justify-content: center;
  opacity: 1!important;

  &__wrapper {
    display: flex;

    grid-template-columns:
      1fr
      1fr;

    gap: 80px;

    align-items: center;
    text-align: center;
    justify-self: center
  }
  &__content {
    align-items: center;
    text-align: center;
    justify-self: center;
    display: flex;
    flex-direction: column;

  }
  &__eyebrow {
    // color: $primary;
    color: #1196AB;
    font-weight: 400;
    font-size: 12px;
    background: transparent;
    border: 1px solid #E9DFFF;
    padding: 8px 10px;
    border-radius: 999px;
    text-transform: uppercase;

  }

  h1 {
    margin-top: 20px;

    font-size: clamp(
      3rem,
      4vw,
      6rem
    );

    line-height: 1.1;
    max-width: 80%;
    
  }

  p {
    margin-top: 30px;

    max-width: 60%;

    font-size: 18px;

    color: #0D0D12;
    font-weight: 400;
    line-height: 26px;
  }

  &__actions {
    display: flex;

    gap: 20px;

    margin-top: 40px;

    button {
      padding: 18px 30px;

      border: none;

      border-radius: 999px;

      cursor: pointer;
      &.button-primary {
        background: #0D0D12;

        color: white;
      }
    }

    .outline {
      background: transparent;

      border: 1px solid #0D0D12;
    }
  }

  &__image {
    height: 650px;

    background: #f5f5f5;

    border-radius: 32px;

    display: flex;

    align-items: center;

    justify-content: center;

    font-size: 30px;

    font-weight: bold;
  }

  &__stats {
    display: flex;

    justify-content: center;

    gap: 80px;

    margin-top: 80px;

    text-align: center;

    h3 {
      font-size: 42px;
    }

    span {
      color: $muted;
    }
  }

  &__scroll {
    margin-top: 60px;

    text-align: center;

    color: $muted;
  }
}

@media (max-width: 991px) {
  .hero {
    &__wrapper {
      grid-template-columns: 1fr;
    }

    &__image {
      height: 400px;
    }

    &__stats {
      flex-direction: column;

      gap: 30px;
    }
  }
}


span.title-highlight {
    font-size: 4vw;
    // color: #2004ee;
  background: -webkit-linear-gradient(45deg, #3670F8, #47CFF8, #3AC091,#2164FF);
  background-image: linear-gradient(
    55deg,
    #16b3d3 20%,
    #3ac091 56%,
    #47cff8 80%,
    #21daff 62%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}





// .hero {
//   position: relative;
//   min-height: 100vh;
//   overflow: hidden;
//   background: #ffffff;
// }

// .hero__bg {
//   position: absolute;
//   inset: 0;
//   z-index: 1;
// }

// .hero__wrapper {
//   position: relative;
//   z-index: 10;
// }

// .hero__content {
//   position: relative;
//   z-index: 10;
// }












// .hero {
//   position: relative;

//   min-height: 100vh;

//   overflow: hidden;

//   background: #ffffff;
// }

// .hero__bg {
//   position: absolute;

//   inset: 0;

//   z-index: 1;
// }

// .hero__wrapper {
//   position: relative;

//   z-index: 10;
// }

// .hero__content {
//   position: relative;

//   z-index: 10;
// }

// .hero::after {
//   content: "";

//   position: absolute;

//   inset: 0;

//   pointer-events: none;

//   opacity: 0.04;

//   z-index: 2;

//   background-image:
//     url("/hex-pattern.svg");
// }




// .hero {
//   position: relative;

//   min-height: 100vh;

//   overflow: hidden;

//   background: #ffffff;
// }

// .hero__bg {
//   position: absolute;

//   inset: 0;

//   z-index: 1;
// }

// .hero__wrapper {
//   position: relative;

//   z-index: 10;

//   display: flex;

//   align-items: center;

//   justify-content: center;

//   min-height: 100vh;
// }

// .hero__content {
//   text-align: center;

//   max-width: 1100px;
// }

// .hero h1 {
//   font-size: 90px;
//   line-height: 1;
// }



.hero {
  position: relative;

  min-height: 100vh;

  overflow: hidden;

  background: url("/public/assets/images/hero-bg.svg") no-repeat;
  background-size: contain;
  background-position: center center;
}

.hero__bg {
  position: absolute;

  inset: 0;

  z-index: 1;
}

.hero__wrapper {
  position: relative;

  z-index: 10;
  background: url("/public/assets/images/hex-bg.svg") no-repeat;
  background-size: contain;
  background-position: top center;
}

.antigravity-field {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  display: block;
}