.imanage-page {
    padding-top: 80px;
    background: url(/public/assets/images/inhero-bg.svg) no-repeat;
    background-size: 100%;
  }
  
  /* ABOUT */
  
  .imanage-about {
    padding: 120px 0;
  
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 80px;
      align-items: center;
    }
  
    span {
      color: #22d3ee;
      font-weight: 600;
    }
  
    h2 {
      font-size: 3rem;
      margin: 1rem 0;
    }
  
    p {
      color: #64748b;
      line-height: 1.8;
      margin-bottom: 1rem;
    }
  
    img {
      width: 100%;
      border-radius: 24px;
    }
  }
  
  /* FEATURES */
  
  .imanage-features {
    padding: 120px 0;
    background: #f8fafc;
  }
  
  /* MODULES */
  
  .imanage-modules {
    padding: 120px 0;
  }
  
  .modules-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px;
  }
  
  .module-card {
    padding: 50px 30px;
    text-align: center;
    border-radius: 24px;
    background: white;
    box-shadow: 0 10px 30px rgba(0,0,0,.05);
    transition: .3s;
  
    &:hover {
      transform: translateY(-8px);
    }
  }
  
  /* PROCESS */
  
  .imanage-process {
    padding: 120px 0;
    background: #f8fafc;
  }
  
  .timeline {
    display: flex;
    gap: 40px;
    max-width: 1000px;
    margin: 0px auto;
  }
  
  .timeline-item {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 24px;
    box-shadow: 0px 10px 20px #ddd;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateY(0px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    transition: all ease-in 0.2s;
  &:hover{
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  }
    span {
      font-size: 2rem;
      color: #22d3ee;
      font-weight: 700;
    }
  
    h3 {
      margin: 1rem 0;
    }
  
    p {
      color: #64748b;
    }
  }
  
  /* WHY */
  
  .imanage-why {
    padding: 120px 0;
  
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 80px;
      align-items: center;
    }
  
    ul {
      padding: 0;
      list-style: none;
    }
  
    li {
      margin-bottom: 20px;
      padding-left: 30px;
      position: relative;
  
      &::before {
        content: "✓";
        position: absolute;
        left: 0;
        color: #22d3ee;
      }
    }
  
    img {
      width: 100%;
      max-width: 450px;
    }
  }
  
  /* MOBILE */
  
  @media (max-width: 991px) {
  
    .imanage-about .container,
    .imanage-why .container {
      grid-template-columns: 1fr;
    }
  
    .modules-grid {
      grid-template-columns: 1fr 1fr;
    }
  
    .timeline {
      flex-direction: column;
    }
  }
  
  @media (max-width: 768px) {
  
    .modules-grid {
      grid-template-columns: 1fr;
    }
  }

  .imanage-about__content .section-heading {
    text-align: left;
}