@use "../../styles/variables" as *;
.cta {
  padding: 120px 0;
  background: url(/public/assets/images/cta-bg.svg) no-repeat;
  background-size: contain;
  background-position: center center;
}

.cta__card {
  padding: 100px;
  border-radius: 40px;
  text-align: center;
  color: #000;
}

.cta__card h2 {
  font-size: clamp(2.5rem, 5vw, 4.5rem);
}

.cta__card h2span.title-highlight {
  font-size: clamp(2.5rem, 5vw, 4.5rem);
}

.cta__card p {
  margin-top: 20px;
  font-size: 20px;
  line-height: 36px;
  max-width: 80%;
  margin: 30px auto 0;
}

.cta__card button {
  margin-top: 40px;
  border: none;
  background: #ecf0f1;
  padding: 18px 36px;
  border-radius: 999px;
  cursor: pointer;
}
