.about-masonry {
  padding: 120px 0;
}
.about-masonry .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
  align-items: start;
}
.about-masonry__left, .about-masonry__right {
  display: flex;
  flex-direction: column;
  gap: 45px;
}