.footer {
  background: #0f172a;
  color: #B4B4B4;
  padding: 80px 0 40px;
}
.footer__top {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  gap: 40px;
}
.footer h3 {
  font-size: 36px;
  margin-bottom: 20px;
}
.footer h4 {
  margin-bottom: 20px;
}
.footer a {
  display: block;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.7);
}
.footer a:hover {
  color: rgb(255, 255, 255);
}
.footer__bottom {
  margin-top: 60px;
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 991px) {
  .footer__top {
    grid-template-columns: 1fr;
  }
}